---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts
    .filter(post => !/-(en|de|ru|es)\.md$/i.test(post.id))
    .map(post => ({
      params: { slug: post.slug },
      props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={`${post.data.title} | Progressivo`} description={post.data.description}>
  <article class="container page-content animate-on-scroll">
    <div class="prose lg:prose-xl mx-auto">
        <Content />
    </div>
  </article>
</Layout>

<style>
  .page-content {
      padding-top: 8rem;
      padding-bottom: 4rem;
  }
</style>
